<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemalocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>internetshop.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>internetshop.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>internetshop.controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>internetshop.controllers.InjectDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>internetshop.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>internetshop.controllers.GetAllProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>internetshop.controllers.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shopppingcart</servlet-name>
        <servlet-class>internetshop.controllers.ShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shopppingcart</servlet-name>
        <url-pattern>/shoppingcart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProductToCart</servlet-name>
        <servlet-class>internetshop.controllers.AddProductToCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductToCart</servlet-name>
        <url-pattern>/shoppingcart/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProductFromCart</servlet-name>
        <servlet-class>internetshop.controllers.DeleteProductFromCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProductFromCart</servlet-name>
        <url-pattern>/shoppingcart/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createOrder</servlet-name>
        <servlet-class>internetshop.controllers.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createOrder</servlet-name>
        <url-pattern>/shoppingcart/completeorder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orderCreated</servlet-name>
        <servlet-class>internetshop.controllers.OrderCreatedController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderCreated</servlet-name>
        <url-pattern>/ordercreated</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>alladmin</servlet-name>
        <servlet-class>internetshop.controllers.GetAllProductsForAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alladmin</servlet-name>
        <url-pattern>/products/alladmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>alladmindelete</servlet-name>
        <servlet-class>internetshop.controllers.DeleteProductByAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alladmindelete</servlet-name>
        <url-pattern>/products/alladmin/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allorders</servlet-name>
        <servlet-class>internetshop.controllers.GetAllOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allorders</servlet-name>
        <url-pattern>/orders/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteorder</servlet-name>
        <servlet-class>internetshop.controllers.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteorder</servlet-name>
        <url-pattern>/orders/all/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orderdetails</servlet-name>
        <servlet-class>internetshop.controllers.GetOrderDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderdetails</servlet-name>
        <url-pattern>/orderdetails</url-pattern>
    </servlet-mapping>
</web-app>
